$height__section_header:         15vh;
$height__section_footer:         25vh;
$height__section_main:           60vh;

$color__body_background:         #9e9e9e;
$color__title:                   #111;
$color__contact:                 #111;
$color__fieldset_background:     #cacaca;
$color__tagcloud_background:     #fbfbfb;
